{% load wagtailadmin_tags %}
<div class="flex-col w-full justify-start items-center" id="body">
  <div class="text-center">
    <p class="text-2xl font-bold">Let's get you started</p>
    <p class="text-lg text-gray-700">Enter your details to get started</p>
  </div>
  <form class="" hx-post="{% url 'restaurant_onboarding_wizard' %}" hx-target="#body" hx-swap="outerHTML" novalidate>
    <div class="hidden">{{ form.errors }}</div>
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
    {% endif %}
    {% comment %}business name field{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.name %}
    </div>
    {% comment %}phone number input{% endcomment %}
    <div class="form-group min-w-full">
      {% include 'components/phone-field.html' with field=form.business_phone_number %}
    </div>
    {% comment %}business email{% endcomment %}
    <div class="form-group min-w-full">
      {% formattedfield field=form.business_email %}
    </div>
    {% comment %}business address{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.business_address %}
    </div>

    {% comment %}business category{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.business_category %}
    </div>

    {% comment %}bank name{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.bank_name %}
    </div>

    {% comment %}account number{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.account_number %}
    </div>

    {% comment %}account name{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.account_name %}
    </div>

    {% comment %}account name{% endcomment %}
    <div class="form-group min-w-full mt-4">
      {% formattedfield field=form.business_registration_status %}
    </div>

    <div class="flex items-center justify-end mt-6 gap-2">
      <svg class="animate-spin htmx-indicator" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-circle">
        <path d="M21 12a9 9 0 1 1-6.219-8.56" />
      </svg>
      <button type="submit" class="!w-fit"><span>Next</span></button>
    </div>
  </form>
</div>
