{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <title>MeergeAfrica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#020164',
              secondary: '#FE0C00',
              ash: 'rgba(30, 30, 30, 1)'
            },
            fontFamily: {
              poppins: ['Poppins']
            }
          }
        }
      }
    </script>
  </head>
  <body class="font-poppins overflow-x-hidden m-0 p-0 bg-[#f3f5f7]">
    <!-- Navbar -->
    {% include 'home/components/navbar.html' %}

    <!-- Hero Section -->
    {% include 'home/components/hero.html' %}

    <section class="second-section h2 flex flex-col items-center justify-center pt-12 w-full">
      <h2 class="text-3xl md:text-4xl text-center font-medium mb-16">
        <span class="block md:inline">Food business is </span>
        <strong>as serious as fun!</strong><br />
        <span class="block md:inline">Ease the stress </span><strong class="block md:inline-block">by 0.1%</strong>
      </h2>
      {% include 'home/components/carousel.html' %}
    </section>

    <!-- Features Section -->
    {% include 'home/components/features.html' %}
    <!-- Growth Section -->
    {% include 'home/components/growth.html' %}
    <!-- Products Section -->
    {% include 'home/components/products.html' %}
    <!-- Testimonials Section-->
    {% include 'home/components/testimonials.html' %}
    <!-- Partners Section-->
    {% include 'home/components/partners.html' %}
    <!-- Footer -->
    {% include 'home/components/footer.html' %}
  </body>
</html>
