Django>=4.2,<5.2
wagtail>=6.2,<6.3
python-dotenv
dj_database_url
psycopg2-binary
gunicorn
django-extensions
djangorestframework
django-htmx
PyJWT
cryptography
django-cities-light
sentry-sdk
# uptrace
ruff
# dev
djhtml
pre-commit