<tr class="border-b last-of-type:border-b-0 hover:bg-gray-50">
  <td class="px-6 py-4">
    <input type="checkbox" class="w-4 h-4 rounded text-blue-600" />
  </td>
  <td class="px-6 py-4">
    <img src="{{ item.image }}" alt="{{ item.name }}" class="w-16 h-16 rounded-full object-cover" />
  </td>
  <td class="px-6 py-4 text-left truncate">{{ item.name }}</td>
  <td class="px-6 py-4 text-sm text-left">₦{{ item.price }}</td>
  <td class="px-6 py-4 text-sm text-left">{{ item.category }}</td>
  <td class="px-6 py-4">
    <div class="flex items-center justify-center h-full gap-2">
      <span class="w-1.5 h-1.5 rounded-full {% if item.status == 'available' %}
        bg-green-500{% else %}bg-red-500{% endif %}">
      </span>
      <span>{{ item.status|capfirst }}</span>
    </div>
  </td>
  <td class="px-6 py-4 text-sm text-right">{{ item.ready_time }}</td>
  <td class="px-6 py-4">
    <button class="hover:text-gray-600 !px-0 !py-0 !rounded-none" id="{{ item.id }}-dropdown-toggle" aria-haspopup="true" aria-controls="{{ item.id }}-actions" data-dropdown-toggle="{{ item.id }}-actions">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
        <path d="M12 6.75a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM12 12a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM12 17.25a1.5 1.5 0 110-3 1.5 1.5 0 010 3z" />
      </svg>
    </button>
  </td>
</tr>
<div id="{{ item.id }}-actions" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-32">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="{{ item.id }}-dropdown-toggle">
    <li class="hover:text-secondary">
      <a href="#" class="block px-4 py-2">View</a>
    </li>
    <li class="hover:text-secondary">
      <a href="#" class="block px-4 py-2">Update</a>
    </li>
    {% if item.status == 'available' %}
      <li class="hover:text-secondary">
        <a href="#" class="block px-4 py-2">Deactivate</a>
      </li>
    {% else %}
      <li class="hover:text-secondary">
        <a href="#" class="block px-4 py-2">Activate</a>
      </li>
    {% endif %}
  </ul>
</div>
