<div class="flex items-center justify-between gap-4">
  <div class="relative flex-1">
    <input type="text" placeholder="Search here" class="text-sm !pl-10 !w-40" />
    <svg class="absolute left-3 top-2.5 h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
    </svg>
  </div>
  <button class="flex items-center gap-2 px-3 py-2.5 text-black rounded-lg border border-gray-300">
    <svg width="15" height="10" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M4.375 6.625H15.625" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M8.875 12.25H11.125" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span>Filter</span>
  </button>
  <button class="flex items-center gap-2 px-3 py-2.5 text-black rounded-lg border border-gray-300" data-modal-trigger="add-menu-modal">
    <svg width="10" height="11" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 7H6.19786M6.19786 7H11.3957M6.19786 7V1M6.19786 7V13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span>Add Item</span>
  </button>
</div>
