.footer-section {
  background-color: #f3f5f7;
}

.footer-section a:hover {
  color: #ff4101;
}

.footer-section img {
  max-width: 100px;
  max-height: 100px;
}
.socials img {
  margin-left: -10px;
  margin-top: 20px;
}

.footer-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.footer-head-txt {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #0e2254;
  margin-bottom: 10px;
  display: inline-block;
}

hr {
  margin-top: 40px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #000000;
}

.text-black {
  color: #000000;
}
