.right header {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  color: #000000;
}
.right p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

.services-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem; 
}


.row .right {
  width: 40%;
  margin-left: 40px; 
}
.row .left {
  width: 60%;
  margin-right: 40px;
}
.row .left img {
   width: auto;
  max-width: 100%;
  height: auto; / 
}


#row-2 .right,
#row-4 .right,
#row-6 .right,
#row-8 .right,
#row-10 .right {
  margin-left: 0;
  margin-right: 40px; 
}

#row-2 .left,
#row-4 .left,
#row-6 .left,
#row-8 .left,
#row-10 .left {
  padding-left: 200px;
  
}

.row .left img,
#row-2 .left img,
#row-4 .left img,
#row-6 .left img,
#row-8 .left img,
#row-10 .left img {
    width: auto; 
  max-width: 100%; 
  height: auto; 
 
}
