{% load static %}
<style type="text/tailwindcss">
  nav {
    @apply fixed top-0 w-full z-50 bg-transparent transition-colors duration-300;
  }
  nav.scrolled {
    @apply bg-white shadow-md;
  }
  .desktop-menu-link {
    @apply text-white hover:text-secondary text-base font-medium transition-colors;
  }
  nav.scrolled .desktop-menu-link {
    @apply text-black;
  }
  .mobile-menu-link {
    @apply text-black hover:text-secondary text-base font-medium;
  }
  .hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  #mobile-menu {
    @apply bg-white fixed top-0 left-0 flex flex-col
      items-center justify-center w-full z-40 pt-16 pb-4 px-4
      transition-all duration-300 ease-in-out translate-y-0
      bg-opacity-100 gap-y-4 data-[shown=false]:-translate-y-full
      data-[shown=false]:bg-opacity-0;
  }
</style>

<nav class="fixed top-0 w-full z-40 bg-transparent transition-colors duration-300">
  <div class="container relative z-50 mx-auto px-6 py-4">
    <div class="flex justify-between items-center">
      <a href="/#" class="logo">
        <img src="{% static 'assets/Meerge-logo.svg' %}" class="w-20 h-auto ml-4" alt="Meerge Logo" />
      </a>

      <!-- Mobile Menu Button -->
      <label id="menu-toggle" class="hamburger md:hidden bg-white p-2 rounded-full">
        <input type="checkbox">
        <svg viewBox="0 0 32 32">
          <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
          <path class="line" d="M7 16 27 16"></path>
        </svg>
      </label>

      <!-- Desktop Menu -->
      <div id="desktop-menu" class="hidden md:flex items-center space-x-8">
        <a href="#features" class="desktop-menu-link">Features</a>
        <a href="#products" class="desktop-menu-link">Products</a>
        <a href="#company" class="desktop-menu-link">Company</a>
        <a href="#partners" class="desktop-menu-link">Partners</a>
        <a href="https://forms.gle/PVNCmsyiQgdUC7KG9" class="px-8 py-2 text-center bg-secondary text-white rounded-lg hover:bg-secondary/50 transition-colors"
          style="color:white"
        >Request Demo</a>
      </div>

      <!-- Mobile Menu -->
    </div>
  </div>
  <div id="mobile-menu" class="" data-shown="false">
    <a href="#features" class="mobile-menu-link">Features</a>
    <a href="#products" class="mobile-menu-link">Products</a>
    <a href="#company" class="mobile-menu-link">Company</a>
    <a href="#partners" class="mobile-menu-link">Partners</a>
    <a href="https://forms.gle/PVNCmsyiQgdUC7KG9" class="px-8 py-2 text-center bg-secondary !text-white rounded-lg hover:bg-secondary/50 transition-colors">Request Demo</a>
  </div>
</nav>
<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>