{% load static %}

<section class="z-20 relative container mx-auto px-6 py-6 bg-[#f3f5f7]" id="partners">
  <button class="text-sm font-bold text-white py-1.5 px-2 bg-secondary rounded-md">Trusted Partners</button>

  <div class="grid grid-cols-3 gap-4 w-full mt-10 pb-28">
    <div class="flex justify-center">
      <img src="{% static 'assets/aid.png' %}" />
    </div>
    <div class="flex justify-center">
      <img src="{% static 'assets/sell-it-off-logo.png' %}" />
    </div>
    <div class="flex justify-center">
      <img src="{% static 'assets/megadel-farm-logo.png' %}" />
    </div>
    <div class="flex justify-center mt-8">
      <img src="{% static 'assets/speed.png' %}" />
    </div>
    <div class="flex justify-center mt-8">
      <img src="{% static 'assets/sell-dome-logo.png' %}" />
    </div>
    <div class="flex justify-center mt-8">
      <img src="{% static 'assets/red.png' %}" />
    </div>
  </div>
</section>
