<section class="z-20 relative container mx-auto px-6 py-16">
  <h2 class="text-center text-2xl font-semibold mb-16 w-full mt-20">
    Here's what <span class="font-bold block md:inline">our trusted partners</span>
    <span class="block">say about us</span>
  </h2>

  <div class="grid md:grid-cols-3 gap-8">
    <div class="h-auto bg-white text-black rounded-lg p-6">
      <p class="text-center italic">I can say my business have found an easy to use product with Meerge solution. The process of getting my staff to learn how it works was pretty simple.</p>
      <p class="font-semibold text-lg mt-4 text-center">Akani</p>
      <p class="font-semibold text-lg mt-4 text-center">Business Owner</p>
    </div>

    <div class="h-auto bg-white text-black rounded-lg p-6">
      <p class="text-center italic">At first, we needed to understand how Meerge was going to help us with operations before getting onboard. I believe we made a good decision to.</p>
      <p class="font-semibold text-lg mt-4 text-center">Olayemi</p>
      <p class="font-semibold text-lg mt-4 text-center">Resturant Manager</p>
    </div>

    <div class="bg-white text-black rounded-lg p-6">
      <p class="text-center italic">We started talking with the Customer team and it didn't take long for us to conclude on using Meerge to manage some of our routine business activities.</p>
      <p class="font-semibold text-lg mt-4 text-center">Chef Janet</p>
    </div>
  </div>
</section>
