<div id="change-password-modal" class="absolute inset-0 bg-black bg-opacity-50 z-20 items-center justify-center hidden !mt-0">
  <div class="bg-white w-[500px] rounded-lg p-8 transition-all ease-in-out space-y-4">
    <h1 class="text-2xl mb-6">Change Password</h1>
    <div id="current-password-container">
      <label class="required">Current Password</label>
      <div class="relative" id="current-password-input">
        <input type="password" class="w-full mt-4 p-2 border border-gray-300 rounded-lg invalid:ring-2 invalid:ring-red-500 peer" placeholder="Password" autocomplete="off" />
        {% include 'svg/loader.html' with class='w-5 h-5 text-secondary animate-spin absolute top-[22%] right-4 hidden' %}
        <p class="text-red-500 text-sm text-right mt-1 invisible peer-invalid:visible transition-all">Password is incorrect</p>
      </div>
    </div>
    <div id="new-password-container" class="hidden space-y-8">
      <div id="new-password-input" class="relative">
        <label class="required">New Password</label>
        <input type="password" class="peer w-full p-2 border border-gray-300 rounded-lg" placeholder="New Password" autocomplete="off" />
        <p class="bg-secondary text-white p-2 text-sm rounded-md absolute w-1/2 mt-2 right-0 peer-placeholder-shown:!invisible peer-invalid:visible invisible">
          password must be at least 8 characters long and no more than 64 characters,
          containing at least one uppercase letter (A-Z),
          one lowercase letter (a-z),
          one digit (0-9),
          and one special character (e.g., !, @, #, $, %, ^, &, *)
        </p>
      </div>
      <div id="confirm-password-input">
        <label class="required">Confirm Password</label>
        <input type="password" class="peer w-full p-2 border border-gray-300 rounded-lg" placeholder="Confirm Password" autocomplete="off" />
        <p class="text-red-500 text-sm text-right mt-1 peer-placeholder-shown:!invisible peer-invalid:visible invisible">
          Passwords do not match
        </p>
      </div>
      <div class="flex justify-end mt-8">
        <button class="text-lg cancel">Cancel</button>
        <button class="peer bg-primary disabled:bg-gray-700 disabled:cursor-not-allowed text-lg text-white ml-4 update" disabled>Update</button>
      </div>
    </div>
  </div>
</div>