{% extends 'components/modal.html' %}
{% load static %}

{% block main %}
<script src="{% static 'js/restaurantstore_detail-modal.js' %}"></script>
{% with name="restaurantstore_detail" title="Restaurant Store" %}
  {{block.super}}
{% endwith %}
{% endblock %}

{% block content %}
<div class="w-full h-full">
    <p>Start managing orders, menus, and customers with ease</p>
    {% block form_fields %}
        <div class="flex flex-wrap justify-between">
            <div class="w-[45%]">
                <label>Store Name<span class="text-red-600">*</span></label>
                <input type="text" class="w-20" required>
            </div>
            <div class="w-[45%]">
                <label>Business Section Name<span class="text-red-600">(Optional)*</span></label>
                <input type="text">
            </div>
            <div class="w-[45%]">
                <label>Store Description<span class="text-red-600">*</span></label>
                <textarea class=""></textarea>
            </div>
            <div class="w-[45%]">
                <label>Store Image<span class="text-red-600">*</span></label>
                <div class="border-2 border-gray-400 h-[70%] w-full rounded">
                    <input type="file">
                </div>
            </div>
        </div>
    {% endblock %}
    {% block buttons %}
        <div class="flex justify-end mt-8">
        {# Add buttons here #}
        {% block cancel_btn %}
            <button id="cancel" class="text-lg cancel">Back</button>
        {% endblock %}
        {% block submit_btn %}
            <button class="bg-primary disabled:bg-gray-700 disabled:cursor-not-allowed text-lg text-white ml-4 add">Create</button>
        {% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}