<div class="flex flex-wrap gap-6 justify-between">
    <div class="flex justify-center w-full h-40 bg-blue-200">
        <img>Image</img>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Product Name:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Manufacturers Name:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Price:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Units Available:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Size:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Weight:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Expiry Date:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Availability:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Delivery Time Estimate:</p>
        <p class="w-full">Value</p>
    </div>
    <div class="flex w-full">
        <p class="w-[50%]">Pickup Option:</p>
        <p class="w-full">Value</p>
    </div>
</div>