#container {
    background-size: cover;
    background-position: center;
}


label.required:after {
    content: "*";
    color: rgba(237, 91, 46, 1);
}

label {
    font-size: 14px;
    font-weight: 500;
    color: rgba(17, 24, 39, 1);
    display: block;
    margin-bottom: 8px;
}

#phone-input {
    border: 1px solid rgb(209 213 219 / 1);
    color: rgb(17 24 39 / 1);
    background-color: rgb(249 250 251 / 1);
    padding: 10px;
    display: flex;
    max-width: 100%;
    border-radius: 8px;
}

#phone-input input {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.password-input-group {
    border: 1px solid rgb(209 213 219 / 1);
    color: rgb(17 24 39 / 1);
    background-color: rgb(249 250 251 / 1);
    padding: 10px;
    display: flex;
    max-width: 100%;
    border-radius: 8px;
}

.password-input-group input {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

textarea {
    border: 1px solid rgb(209 213 219 / 1);
    color: rgb(17 24 39 / 1) !important;
    background-color: rgb(249 250 251 / 1);
    padding: 10px !important;
    display: block;
    width: 100% !important;
    border-radius: 8px !important;
}

select {
    border: 1px solid rgb(209 213 219 / 1);
    color: rgb(17 24 39 / 1) !important;
    background-color: rgb(249 250 251 / 1);
    padding: 10px !important;
    display: block !important;
    width: 100% !important;
    border-radius: 8px !important;
}

button {
    padding: 10px 20px !important;
    margin: 10px 0 !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
}

button.primary {
    background-color: rgb(29 78 216);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(29 78 216);
}

button.primary:hover {
    background-color: rgba(29, 78, 216, 0.8);
}

button.secondary {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(29 78 216);
    border: 1px solid rgb(29 78 216);
}

button.secondary:hover {
    background-color: rgba(29, 78, 216, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

.htmx-indicator{
    display: none;
}
.htmx-request .htmx-indicator{
    display:block;
}