<div id="restaurant-images">
  <div class="w-full h-56 bg-primary rounded-t-lg" id="restaurant-banner">
    <div class="flex flex-col w-fit h-full justify-center ml-auto mr-10 lg:mx-auto space-y-2">
      <h1 class="text-2xl text-white font-semibold">Add Banner Image</h1>
      <p class="text-white">Optimal dimensions: 3200px by 410px</p>
      <button class="btn btn-secondary w-fit">Upload</button>
    </div>
  </div>
  <div id="restaurant-logo" class="w-52 h-52 bg-gray-400 rounded-full -mt-36 ml-12">
    <div class="flex flex-col items-center h-full w-full justify-center space-y-1">
      <h1 class="text-white font-semibold">Add Business Logo</h1>
      <p class="text-sm text-white text-wrap">Optimal dimensions</p>
      <p class="text-sm text-white text-wrap">200px by 200px</p>
      <button class="btn btn-secondary">Upload</button>
    </div>
  </div>
</div>
