{% extends 'auth-base.html' %}
{% load static wagtailadmin_tags %}
{% block title %}
  Reset Password Done
{% endblock %}

{% block form_title %}
  <p class="text-2xl font-bold">Check your email</p>
{% endblock %}

{% block form_subtitle %}
  <p class="text-lg text-gray-700">A password reset link has been sent to {{ email }}.</p>
{% endblock %}
{% block form_action %}
  {% url 'account_reset_password' %}
{% endblock %}
{% block form_method %}post{% endblock %}

{% block form_fields %}
  <input type="hidden" name="email" value="{{ email }}" />
{% endblock %}

{% block form_btns %}
  <p class="text-sm text-gray-700">Didn't receive the email? Check your spam folder or</p>
  <button type="submit" class="primary w-full mt-4 mx-0 flex items-center justify-center gap-2">
    <svg class="animate-spin htmx-indicator" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-circle">
      <path d="M21 12a9 9 0 1 1-6.219-8.56" />
    </svg>
    <span>Resend Email</span>
  </button>
{% endblock %}
