{% extends 'restaurants/onboarding/base.html' %}
{% load wagtailadmin_tags %}

{% block title %}
  Accept Invite
{% endblock %}

{% block form_title %}
  <h1 class="text-2xl font-bold">Let's Get You Started.</h1>
{% endblock %}
{% block form_subtitle %}
  <p class="text-lg font-light">Enter your credentials to get started.</p>
{% endblock %}

{% block form_class %}
  group
{% endblock %}

{% block form_fields %}
  <div class="flex flex-col sm:flex-row sm:gap-2 sm:justify-between sm:items-center w-full mt-4">
    <div class="form-group min-w-full sm:min-w-40">
      {% formattedfield field=form.first_name %}
    </div>
    <div class="form-group min-w-full sm:min-w-40">
      {% formattedfield field=form.last_name %}
    </div>
  </div>
  <div class="form-group min-w-full">
    {% include 'components/phone-field.html' with field=form.phone_number %}
  </div>
  <div class="form-group min-w-full">
    {% formattedfield field=form.email %}
  </div>
  <div class="form-group min-w-full">
    {% include 'components/password-field.html' with field=form.password1 %}
  </div>
  {% comment %} privacy policy {% endcomment %}
  <div class="form-group min-w-full">
    <div class="flex items-start">
      <input type="checkbox" class="form-checkbox !mb-0" id="privacy_policy" name="privacy_policy" required>
      <label for="privacy_policy" class="ml-2 text-xs text-gray-700 font-medium">
        By clicking, you accept our Primary Services Agreement, User Terms of Service, 
        and Merge Africa Supplemental Terms. For more details, 
        please review our  
        <a href="#" class="text-secondary">Privacy Policy</a>
        and 
        <a href="#" class="text-secondary">Terms and Conditions</a>.
      </label>
    </div>
  </div>
{% endblock %}

{% block form_btns %}
  <button type="submit" class="btn btn-primary group-invalid:cursor-not-allowed group-invalid:bg-gray-600">Create Account</button>
  <div class="text-left">
    <p class="text-sm text-gray-700 font-medium">
      Already have an account? <a href="{% url 'account_login' %}?next={% url 'restaurant_redirect' %}" class="text-secondary">Login</a>
    </p>
  </div>
{% endblock %}
