{% extends 'restaurants/onboarding/base.html' %}
{% load wagtailadmin_tags %}

{% block title %}
  Restaurant Onboarding
{% endblock %}

{% block form_title %}
  <h1 class="text-2xl font-bold">Tell Us About Your Business.</h1>
{% endblock %}
{% block form_subtitle %}
  <p class="text-lg font-light text-secondary">Fill out your business details</p>
{% endblock %}

{% block form_fields %}
  <div id="body" hx-get="{% url 'restaurant_onboarding_wizard' %}" hx-trigger="load" hx-target="#body" hx-swap="outerHTML"></div>
{% endblock %}
{% block form_btns %}
{% endblock %}
{% block form_footer %}
{% endblock %}
